/* body {
        background: url("https://lh6.googleusercontent.com/-mN1eYjIQyM4/UKj22PQFbPI/AAAAAAAAAEk/A-ZzpUA-FB0/fw-background.png") repeat-x scroll 0% 0% transparent;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:14px;
        color: #333333;
        line-height:1.63;
        -webkit-font-smoothing: antialiased; Fix for webkit rendering
        -webkit-text-size-adjust: 100%;
}

.panel-heading {
    background:url("../images/logo3.png");
    background-repeat: no-repeat;
    
}
.panel-title {
    margin-left: 30%;
    font-size: 300%;
    color:black;
    text-shadow: 4px 4px 8px #CCC;
}
.panel-heading #loginButton a {
    color:#FFF; 
    text-decoration: none;
    
}

.authMailId {
    font-size:20px;

}

    
@media all and (min-width: 480px) and (max-width: 780px) {
    .panel-heading {
        float:left;
        width:100%;
        padding:5%;
    }
    .panel-title {
        margin: 2em -20px 2em auto;
        font-size: 200%;
    }
    .empDetails {
        width: 288px;
        margin-top: -41PX;
        margin-left: 107PX;
    }
    .empDetails1 {
        width: 330px;
        margin-top: -73px;
        margin-left: 422px;
    }
    .employeeList li {
        margin: 0px 0px 10px 0px;
        float: left;
        border: solid 1px #ccc;
        border-top-color: #eee;
        border-left-color: #eee;
        padding: 50px 0 0 0px;
        border-radius: 4px;
        box-shadow: 2px 2px 4px #e1e1e1;
        width: 100%;
        list-style: none;
    }
}

@media all and (max-width: 480px) {
    
    .panel-heading {
        float:left;
        width:100%;
        padding:5%;
    }
    .panel-title {
        margin: 2em -20px 2em auto;
        font-size: 200%;
    }
     .empDetails {
        width: 288px;
        margin-top: -41PX;
        margin-left: 107PX;
    }
    .empDetails1 {
        width: 330px;
        margin-top: -73px;
        margin-left: 422px;
    }
    .employeeList li {
        margin: 0px 0px 10px 0px;
        float: left;
        border: solid 1px #ccc;
        border-top-color: #eee;
        border-left-color: #eee;
        padding: 50px 0 0 0px;
        border-radius: 4px;
        box-shadow: 2px 2px 4px #e1e1e1;
        width: 100%;
        list-style: none;
    }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    width:200px;
}
.nav-pills > li#lDetails > a, .nav-pills > li#lDetails > a:hover, .nav-pills > li#lDetails > a:focus {
    width:200px;
}

.nav-pills > li#aLeave > a, .nav-pills > li#aLeave > a:hover, .nav-pills > li#aLeave > a:focus {
    width:200px;
}
.nav-pills > li#cLeave > a, .nav-pills > li#cLeave > a:hover, .nav-pills > li#cLeave > a:focus {
    width:200px;
}
.nav-pills > li#apprLeave > a, .nav-pills > li#apprLeave > a:hover, .nav-pills > li#apprLeave > a:focus {
    width:200px;
}
.nav-pills > li#nLeave > a, .nav-pills > li#nLeave > a:hover, .nav-pills > li#nLeave > a:focus {
    width:200px;
}

#reasonForLeave {
    width:300px;
    height:70px;
}

navigation-wrapper {
background: #2c3e50;
margin: 0 auto;
width: 100%;
}

#navigation {
display: block;
height: 35px;
margin: 0 auto;
padding: 0;
width: 980px;
font-size: 12px;
}

.closeLeaves {
           background-color: whitesmoke;
            margin-top: 7px;
            margin-right: 6px;
            padding: 7px 4px 17px 11px;
}

.employeeList li {
margin: 0px 0px 10px 0px;
float: left;
border: solid 1px #ccc;
border-top-color: #eee;
border-left-color: #eee;
padding: 50px 0 0 0px;
border-radius: 4px;
box-shadow: 2px 2px 4px #e1e1e1;
width: 100%;
list-style: none;
}
.eispan {
font-size: larger;
} */

/*.employeeList img {
width: 70px;
margin-top: -41px;
margin-left: 13px;
margin-bottom: 8px;
float:left;
}*/

.modal {
    display: block;
}
/* Custom dialog/modal headers */

.dialog-header-error {
    background-color: #d2322d;
}
.dialog-header-wait {
    background-color: #428bca;
}
.dialog-header-notify {
    background-color: #eeeeee;
}
.dialog-header-confirm {
    background-color: #333333;
}
.dialog-header-error span,
.dialog-header-error h4,
.dialog-header-wait span,
.dialog-header-wait h4,
.dialog-header-confirm span,
.dialog-header-confirm h4 {
    color: #ffffff;
}
/* Ease Display */

.pad {
    padding: 25px;
}
.spreadsheet {
    height: 250px;
    border: 1px solid #ddd;
}
#loginbox {
    margin-top: 50px;
}
.forgot-password {
    float: right;
    font-size: 80%;
    position: relative;
    top: -10px;
}
#login-alert, #signup-alert {
    display: none;
}
.login-field {
    margin-bottom: 25px
}
.login-button-section {
    margin-top: 10px;
}
#signupbox {
    margin-top: 50px
}
.signin-label {
    float: right;
    font-size: 85%;
    position: relative;
    top: -10px;
}
.signup-label {
    border-top: 1px solid#888;
    padding-top: 15px;
    font-size: 85%
}